# VS2022 doesn't seem to give a shit about this .editorconfig (at least for C/C++ projects)
# so we'll enforce line endings in .gitattributes and .clang-format


# enforce LF line endings for Linux/WSL2 compatibility
# and keep UTF-8 everywhere

root = true

[*]
charset = utf-8
end_of_line = lf